<section class="benefits {{#if col3}}benefits--3{{/if}}">
  <div class="container">
    <div class="benefits__inner">
      {{#if t}}
      <h2 class="benefits__title">{{t}}</h2>
      {{/if}}
      <ul class="benefits__list">
        {{#each benefits}}
        <li class="benefits__item-wrapper">
          <div class="benefits__item">
            <img class="lazyload benefits__item-image" src="{{this.image}}" alt="{{this.title}}">
            <div class="benefits__text">
              <h3 class="benefits__item-title">{{this.title}}</h3>
              <p class="benefits__subtitle">{{this.subtitle}}</p>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>