<section class="cards {{#if col4}}cards--4{{/if}}">
  <div class="container">
    <div class="cards__inner">
      <h2 class="cards__title">{{data.title}}</h2>
      <ul class="cards__list">
        {{#each data.items}}
          <li class="cards__item-wrapper">
            <div class="cards__item">
              <div class="cards__item-text">
                <h3 class="cards__item-name">{{this.name}}</h3>
                {{#if this.description}}
                  <div class="cards__item-description">
                    {{this.description}}
                  </div>
                {{/if}}
              </div>
              <div class="cards__item-icon-wrapper">
                <img class="cards__item-icon lazyload" src="{{this.icon}}" alt="{{this.name}}">
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>