<section class="contacts-list">
    <div class="container">
      <div class="contacts-list__inner">
        <ul class="contacts-list__list">
          {{#each contacts}}
          <li class="contacts-list__item">
            <a class="contacts-list__link" {{#if this.modal}}data-hystmodal={{this.link}}{{/if}} href="{{#if this.modal}}javascript:void(0);{{else}}{{this.link}}{{/if}}">
              <img class="lazyload contacts-list__link-icon" src="{{this.icon}}" alt="icon">
              <div class="contacts-list__link-text">
                <span class="contacts-list__link-name">{{this.name}}</span>
                <span class="contacts-list__link-label">{{this.label}}</span>
              </div>
            </a>
          </li>
          {{/each}}
        </ul>
        <div class="contacts-list__map-wrapper">
          <div
            class="contacts-list__map js-init-map js-init-overlay-map-container"
            data-initial-longitude="55.774998"
            data-initial-latitude="37.631900"
            data-initial-zoom="17"
            data-image="../img/map-location.svg",
            data-address="Пр-кт Мира, 7/20",
            data-time="Будни 09:00 – 20:00;Сб, Вс 09:00 – 20:00"
          >
            <div class="contacts-list__map-overlay js-init-overlay">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>