<a class="document-item"
  href="img/content/docs/gramota.jpg"
  data-fancybox="gallery-{{this.id}}"
  data-caption="{{this.name}}"
>
  <div class="document-item__image-wrapper">
    <img class="lazyload document-item__image" src="{{this.image}}" alt="{{this.name}}">
  </div>
  <span class="document-item__name">{{this.name}}</span>
</a>